In [1]:
import pandas as pd
df = pd.read_csv('iris_EDA.csv')

In [ ]:
1. Calculate the % of missing values in the columns

In [2]:
missing_values=df.isna().sum()
total=len(df)
percentage=(missing_values/total)*10
print(percentage)

sepallength    0.0
sepalwidth     0.0
petallength    0.0
petalwidth     0.4
class          0.0
Name           0.0
Score          0.4
Color          0.0
dtype: float64

In [ ]:
2. Replace missing value with mean for the numerical column, if the % of missing value is less than 10%.

In [3]:
missing_values=df.isna().sum()
total=len(df)
percentage=(missing_values/total)*10
temp=df.copy()
for i in df.columns:
  if df[i].dtype!="object" and percentage[i]<10:
    c_mean=df[i].mean()
    temp[i].fillna(c_mean,inplace=True)
df.update(temp)
df.head(14)

,sepallength,sepalwidth,petallength,petalwidth,class,Name,Score,Color
0,5.1,3.5,1.4,0.2,Iris-setosa,F1,12.000000,Red
1,4.9,3.0,1.4,0.2,Iris-setosa,F2,20.958333,Blue
2,4.7,3.2,1.3,0.2,Iris-setosa,F3,18.000000,Orange
3,4.6,3.1,1.5,0.2,Iris-setosa,F4,14.000000,Purple
4,5.0,3.6,1.4,0.2,Iris-setosa,F5,22.000000,Red
5,5.4,3.9,1.7,0.4,Iris-setosa,F6,27.000000,Blue
6,4.6,3.4,1.4,0.3,Iris-setosa,F7,24.000000,Orange
7,5.0,3.4,1.5,0.2,Iris-setosa,F8,23.000000,Purple
8,7.0,3.2,4.7,1.4,Iris-versicolor,F9,16.000000,Red
9,6.4,3.2,4.5,1.5,Iris-versicolor,F10,19.000000,Blue
10,6.9,3.1,4.9,1.5,Iris-versicolor,F11,21.000000,Orange
11,5.5,2.3,4.0,1.3,Iris-versicolor,F12,25.000000,Purple
12,6.5,2.8,4.6,1.5,Iris-versicolor,F13,28.000000,Red
13,5.7,2.8,4.5,1.3,Iris-versicolor,F14,29.000000,Blue

In [ ]:
3. Perform the mode imputation for a categorical data

In [4]:
missing_values3=df.isna().sum()
total3=len(df)
percentage3=(missing_values3/total3)*10
temp3=df.copy()
for i in df.columns:
  if df[i].dtype =="object" and percentage3[i]<10:
    c_column=df[i].mode().iloc[0]
    temp3[i].fillna(c_column,inplace=True)
df.update(temp3)
df.head(144)

,sepallength,sepalwidth,petallength,petalwidth,class,Name,Score,Color
0,5.1,3.5,1.4,0.200000,Iris-setosa,F1,12.000000,Red
1,4.9,3.0,1.4,0.200000,Iris-setosa,F2,20.958333,Blue
2,4.7,3.2,1.3,0.200000,Iris-setosa,F3,18.000000,Orange
3,4.6,3.1,1.5,0.200000,Iris-setosa,F4,14.000000,Purple
4,5.0,3.6,1.4,0.200000,Iris-setosa,F5,22.000000,Red
5,5.4,3.9,1.7,0.400000,Iris-setosa,F6,27.000000,Blue
6,4.6,3.4,1.4,0.300000,Iris-setosa,F7,24.000000,Orange
7,5.0,3.4,1.5,0.200000,Iris-setosa,F8,23.000000,Purple
8,7.0,3.2,4.7,1.400000,Iris-versicolor,F9,16.000000,Red
9,6.4,3.2,4.5,1.500000,Iris-versicolor,F10,19.000000,Blue
10,6.9,3.1,4.9,1.500000,Iris-versicolor,F11,21.000000,Orange
11,5.5,2.3,4.0,1.300000,Iris-versicolor,F12,25.000000,Purple
12,6.5,2.8,4.6,1.500000,Iris-versicolor,F13,28.000000,Red
13,5.7,2.8,4.5,1.300000,Iris-versicolor,F14,29.000000,Blue
14,6.3,3.3,4.7,1.600000,Iris-versicolor,F15,11.000000,Orange
15,4.9,2.4,3.3,1.000000,Iris-versicolor,F16,30.000000,Purple
16,6.3,3.3,6.0,2.500000,Iris-virginica,F17,12.000000,Red
17,5.8,2.7,5.1,1.900000,Iris-virginica,F18,24.000000,Blue
18,7.1,3.0,5.9,2.100000,Iris-virginica,F19,17.000000,Orange
19,6.3,2.9,5.6,1.800000,Iris-virginica,F20,15.000000,Purple
20,6.5,3.0,5.8,2.200000,Iris-virginica,F21,22.000000,Red
21,7.6,3.0,6.6,2.100000,Iris-virginica,F22,27.000000,Blue
22,4.9,2.5,4.5,1.216667,Iris-virginica,F23,25.000000,Orange
23,7.3,2.9,6.3,1.800000,Iris-virginica,F24,21.000000,Purple
24,7.3,2.9,6.3,1.800000,Iris-virginica,F24,21.000000,Purple

In [ ]:
4.Perform a KNN Imputer to estimate the missing values

In [27]:
from sklearn.impute import KNNImputer
column_names = ['citric acid', 'residual sugar', 'chlorides']
df_missing = df[column_names]
knn_imputer = KNNImputer(n_neighbors=5)
df_imputed_array = knn_imputer.fit_transform(df_missing)
df_imputed = pd.DataFrame(df_imputed_array, columns=column_names)
df[column_names] = df_imputed
print("Missing values imputed using KNN imputer.")

Missing values imputed using KNN imputer.

In [ ]:
5.Drop the columns with more than 10% missing values and display the size

In [28]:
missing_values4=df.isna().sum()
total4=len(df)
percentage4=(missing_values4/total4)*10
temp4=df.copy()
for i in df.columns:
  if percentage4[i]>10:
    temp4.drop(i,axis=1,inplace=True)
print(temp4.head())
print(temp4.shape)

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                    34   0.9978  3.51       0.56
1                 25.0                    67   0.9968  3.20       0.68
2                 15.0                    54   0.9970  3.26       0.65
3                 17.0                    60   0.9980  3.16       0.58
4                 11.0                    34   0.9978  3.51       0.56

   alcohol quality
0      9.4     bad
1      9.8     bad
2      9.8     bad
3      9.8    good
4      9.4     bad
(1000, 12)

In [ ]:
 6.Drop the rows with outlier Z-score value > 3 for “Guarantee_Period” and display the  size.

In [29]:
from scipy.stats import zscore
z_scores = zscore(df.select_dtypes(include='number'))
outlier_rows = (z_scores > 3).any(axis=1)
df_no_outliers = df[~outlier_rows]
print(f"Original DataFrame size: {df.shape}")
print(f"DataFrame size after dropping rows with Z-score > 3: {df_no_outliers.shape}")

Original DataFrame size: (1000, 12)
DataFrame size after dropping rows with Z-score > 3: (910, 12)

In [ ]:
7.Drop the duplicate rows based on more than 50% of column having same value.

In [30]:
columns_to_check =['citric acid', 'residual sugar', 'chlorides']
duplicate_percentage = (df[columns_to_check].duplicated(keep='first').sum() / len(df)) * 100
duplicate_rows = (df[columns_to_check].duplicated(keep='first') / len(columns_to_check)) > 0.5
df_no_duplicates = df[~duplicate_rows]
print(f"Original DataFrame size: {df.shape}")
print(f"DataFrame size after dropping rows with more than 50% duplicate values in specified columns: {df_no_duplicates.shape}")

Original DataFrame size: (1000, 12)
DataFrame size after dropping rows with more than 50% duplicate values in specified columns: (1000, 12)

In [ ]:
8.Rescale your data using min-max normalization for a numerical feature. (Python 
code)

In [31]:
from sklearn.preprocessing import MinMaxScaler
numerical_feature = 'pH'
numerical_data = df[[numerical_feature]]
scaler = MinMaxScaler()
numerical_data_scaled = scaler.fit_transform(numerical_data)
df[numerical_feature] = numerical_data_scaled
print("DataFrame after min-max normalization:")
print(df)

DataFrame after min-max normalization:
     fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0              7.4              0.70         0.00            1.90      0.076
1              7.8              0.88         0.00            2.60      0.098
2              7.8              0.76         0.04            2.30      0.092
3             11.2              0.28         0.56            1.90      0.075
4              7.4              0.70         0.00            1.90      0.076
..             ...               ...          ...             ...        ...
995            7.7              0.60         0.06            2.00      0.079
996            5.6              0.66         0.00            2.20      0.087
997            5.6              0.66         0.00            2.20      0.087
998            8.9              0.84         0.34            1.40      0.050
999            6.4              0.69         0.00            1.65      0.055

     free sulfur dioxide  total sulfur dioxide  density        pH  sulphates  \
0                   11.0                    34  0.99780  0.900000       0.56
1                   25.0                    67  0.99680  0.820513       0.68
2                   15.0                    54  0.99700  0.835897       0.65
3                   17.0                    60  0.99800  0.810256       0.58
4                   11.0                    34  0.99780  0.900000       0.56
..                   ...                   ...      ...       ...        ...
995                 19.0                    41  0.99697  0.869231       0.62
996                  3.0                    11  0.99378  0.951282       0.63
997                  3.0                    11  0.99378  0.951282       0.63
998                  4.0                    10  0.99554  0.800000       0.48
999                  7.0                    12  0.99162  0.889744       0.53

     alcohol quality
0        9.4     bad
1        9.8     bad
2        9.8     bad
3        9.8    good
4        9.4     bad
..       ...     ...
995     10.1    good
996     12.8    good
997     12.8    good
998      9.1    good
999     12.9    good

[1000 rows x 12 columns]

In [ ]:
9.Binarize the data by using binarizer class in python

In [32]:
from sklearn.preprocessing import Binarizer
numerical_feature = 'pH'
numerical_data = df[[numerical_feature]]
threshold = 9  
binarizer = Binarizer(threshold=threshold)
numerical_data_binarized = binarizer.fit_transform(numerical_data)
df[numerical_feature] = numerical_data_binarized
print("DataFrame after binarization:")
print(df)

DataFrame after binarization:
     fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0              7.4              0.70         0.00            1.90      0.076
1              7.8              0.88         0.00            2.60      0.098
2              7.8              0.76         0.04            2.30      0.092
3             11.2              0.28         0.56            1.90      0.075
4              7.4              0.70         0.00            1.90      0.076
..             ...               ...          ...             ...        ...
995            7.7              0.60         0.06            2.00      0.079
996            5.6              0.66         0.00            2.20      0.087
997            5.6              0.66         0.00            2.20      0.087
998            8.9              0.84         0.34            1.40      0.050
999            6.4              0.69         0.00            1.65      0.055

     free sulfur dioxide  total sulfur dioxide  density   pH  sulphates  \
0                   11.0                    34  0.99780  0.0       0.56
1                   25.0                    67  0.99680  0.0       0.68
2                   15.0                    54  0.99700  0.0       0.65
3                   17.0                    60  0.99800  0.0       0.58
4                   11.0                    34  0.99780  0.0       0.56
..                   ...                   ...      ...  ...        ...
995                 19.0                    41  0.99697  0.0       0.62
996                  3.0                    11  0.99378  0.0       0.63
997                  3.0                    11  0.99378  0.0       0.63
998                  4.0                    10  0.99554  0.0       0.48
999                  7.0                    12  0.99162  0.0       0.53

     alcohol quality
0        9.4     bad
1        9.8     bad
2        9.8     bad
3        9.8    good
4        9.4     bad
..       ...     ...
995     10.1    good
996     12.8    good
997     12.8    good
998      9.1    good
999     12.9    good

[1000 rows x 12 columns]

In [ ]:
10.Perform the one-hot encoding for a categorical feature.

In [33]:
categorical_feature = 'total sulfur dioxide'
df_encoded = pd.get_dummies(df, columns=[categorical_feature], prefix=[categorical_feature])
print("DataFrame after one-hot encoding:")
print(df_encoded)

DataFrame after one-hot encoding:
     fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0              7.4              0.70         0.00            1.90      0.076
1              7.8              0.88         0.00            2.60      0.098
2              7.8              0.76         0.04            2.30      0.092
3             11.2              0.28         0.56            1.90      0.075
4              7.4              0.70         0.00            1.90      0.076
..             ...               ...          ...             ...        ...
995            7.7              0.60         0.06            2.00      0.079
996            5.6              0.66         0.00            2.20      0.087
997            5.6              0.66         0.00            2.20      0.087
998            8.9              0.84         0.34            1.40      0.050
999            6.4              0.69         0.00            1.65      0.055

     free sulfur dioxide  density   pH  sulphates  alcohol  ...  \
0                   11.0  0.99780  0.0       0.56      9.4  ...
1                   25.0  0.99680  0.0       0.68      9.8  ...
2                   15.0  0.99700  0.0       0.65      9.8  ...
3                   17.0  0.99800  0.0       0.58      9.8  ...
4                   11.0  0.99780  0.0       0.56      9.4  ...
..                   ...      ...  ...        ...      ...  ...
995                 19.0  0.99697  0.0       0.62     10.1  ...
996                  3.0  0.99378  0.0       0.63     12.8  ...
997                  3.0  0.99378  0.0       0.63     12.8  ...
998                  4.0  0.99554  0.0       0.48      9.1  ...
999                  7.0  0.99162  0.0       0.53     12.9  ...

    total sulfur dioxide_144  total sulfur dioxide_145  \
0                      False                     False
1                      False                     False
2                      False                     False
3                      False                     False
4                      False                     False
..                       ...                       ...
995                    False                     False
996                    False                     False
997                    False                     False
998                    False                     False
999                    False                     False

     total sulfur dioxide_147  total sulfur dioxide_148  \
0                       False                     False
1                       False                     False
2                       False                     False
3                       False                     False
4                       False                     False
..                        ...                       ...
995                     False                     False
996                     False                     False
997                     False                     False
998                     False                     False
999                     False                     False

     total sulfur dioxide_149  total sulfur dioxide_151  \
0                       False                     False
1                       False                     False
2                       False                     False
3                       False                     False
4                       False                     False
..                        ...                       ...
995                     False                     False
996                     False                     False
997                     False                     False
998                     False                     False
999                     False                     False

     total sulfur dioxide_152  total sulfur dioxide_153  \
0                       False                     False
1                       False                     False
2                       False                     False
3                       False                     False
4                       False                     False
..                        ...                       ...
995                     False                     False
996                     False                     False
997                     False                     False
998                     False                     False
999                     False                     False

     total sulfur dioxide_155  total sulfur dioxide_165
0                       False                     False
1                       False                     False
2                       False                     False
3                       False                     False
4                       False                     False
..                        ...                       ...
995                     False                     False
996                     False                     False
997                     False                     False
998                     False                     False
999                     False                     False

[1000 rows x 150 columns]